## 04_feb_assignment

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:

list=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted(list,key = lambda x:x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
l1 = [1,2,3,4,5,6,7,8,9,10]

l=map(lambda x:x**2 , l1)
print(l)

for i in l:
    print(i)

<map object at 0x7fc024714e20>
1
4
9
16
25
36
49
64
81
100

l

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [26]:
l=[1,2,3,4,5,6,7,8,9,10]

tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [35]:
from functools import reduce

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [47]:
l=[i for i in range(1,26)]

In [49]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [52]:
l = [2,3,6,9,27,60,90,120,55,46]

f=filter(lambda x:x%2==0 and x%3==0,l)

In [53]:
for i in f:
    print(i)

6
60
90
120

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [66]:
l =  ['python', 'php', 'aba', 'radar', 'level']

In [67]:
palindrome = filter(lambda x:x==x[::-1],l)

In [68]:
palindrome

In [69]:
for i in palindrome:
    print(i)

php
aba
radar
level