30th jan assignment

Question 1. write a program to accept percentage from the user and display the grade according to the following criteria:

In [7]:
marks=int(input("enter your marks"))
if marks>90:
    print("A")
elif marks>80 and marks<=90:
    print("B")
elif marks>60 and marks<=80:
    print("C")
else:    
    print("D")

enter your marks 45

D

Question2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [18]:
cost_price=int(input("enter price"))
if cost_price>100000:
    print("The tax to be paid by consumers:",cost_price*0.85)
elif cost_price>50000 and cost_price<=100000:
    print("The tax to be paid by consumers:",cost_price*0.90)
elif cost_price<=50000:
    print("The tax to be paid by consumers:",cost_price*0.95)

enter price 46547658

The tax to be paid by consumers: 39565509.3

Question3. Accept any city from the user and display monuments of that city.

In [7]:
city= input("enter city : ") 
# criteria
if city.upper() == "DELHI":
      print ("RED FORT") 
elif city.upper() == "AGRA":
       print("TAJ MAHAL") 
elif city.upper() == "JAIPUR":
    print("JAI MAHAL")
else: 
    print("enter valid city")

enter city :  DELHI

RED FORT

In [6]:
city=input("enter your city")
city=["Delhi","Agra","Jaipur"]
for i in city:
    
    if i=="Delhi":
        print("Red Fort")
    elif i=="Agra":
        print("Taj Mahal")
    elif i=="Jaipur":
        print("Jal Mahal")

enter your city Delhi

Red Fort
Taj Mahal
Jal Mahal

Question4 check how many times a given number can be divided by3 before it is less than or equal to 10.

In [ ]:
for i in range(1,126):
    if i%3==0:
        print(i)

Question5. Why and when to use while loop in python gives a detailed description with example.

Ans whenever we want a sequencial  repeat of  any statement  or character multiple times without writing that code all the time , at that time we use over there.
example---

In [ ]:

notes = 5
i=1 # starting number intialize
while i<=notes:
    print(i)
    i += 1
else:
    print("No 10 rupees note left")

    print('Total Money: ',notes*10,'Rupees')

Question6. Use nested while loop to print 3 different pattern.

In [ ]:
##### equilateral triangle
n=int(input("enter the no of row"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for i in range(i+1):
        print("*",end=" ")
    print()

In [ ]:
## inverted equilatera triangle
a=int(input("enter no of rows"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(n-i):
        print("*",end=" ")
    print()


Question7. Reverse a while loop to display numbers from 10 to 1.

In [ ]:
n=10
while n>=1:
    print(n)
    n=n-1

Question8.Reverse a while loop to display numbers from 10 to 1.

In [ ]:
n=10
while n>=0:
    print(n)
    n=n-1

In [ ]:
n=5
print("*"n)